

<div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
    <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <br/>
        <b>下面是各种无良广告</b>
        {% if ads == 1 %}
         <!-- Begin BidVertiser code -->
        <SCRIPT data-cfasync="true" SRC="//bdv.bidvertiser.com/BidVertiser.dbm?pid=671350&bid=1911036" TYPE="text/javascript"></SCRIPT>
         <!-- End BidVertiser code --> 
        {% endif %}

        {% if ads == 0 %}
        <!-- amazon ads -->
        <a target="_blank" href="https://amazon.cn/b?_encoding=UTF8&tag=dgcontinent-23&linkCode=ur2&linkId=42ce127589b94817952d89194c925a0e&camp=536&creative=3200&node=658393051">小说</a><img src="//ir-cn.amazon-adsystem.com/e/ir?t=dgcontinent-23&l=ur2&o=28" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
        {% endif %}
        <br/>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1"></div>
</div>

